.slide-container {
    width: 70%;
    margin: auto; 
    padding-top: 30px;
}
  
  h3 {
    text-align: center; }
  
  .each-slide > div {
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    box-sizing: border-box;
  }

  .each-slide {
    border: 1px solid #2C3531;
    background-color: rgb(57, 110, 190, .8);
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
  }

  .cover-image {
    height: auto;
  }

  .description {
    float: left;
  }

  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 75%;
    overflow: hidden;
  }
  
  .each-fade .image-container img {
    width: 100%;

  }
  
  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }