.books__list {
   
}

.books__section {
    display: flex;
    flex-direction: column;
    background-color: rgb(209, 232, 226, 0.4);
    padding: 10px;
}

.cover {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.title {
    text-align: center;
    color: #2C3531;
    font-size: 30px;
    font-weight: 800;
}

.authors {
    padding-bottom: 10px;
}

.description {
    margin-bottom: 40px;
}

.text__section {
    color: #D1E8E2;
    border: 1px solid #2C3531;
    background-color: rgb(57, 110, 190, .8);
    padding: 10px;
    border-radius: 5px;
}

.navigation {
    padding-top: 60px;
}

.page__number {
    text-align: center;
    color: #FFCB9A;
    font-weight: bold;
    font-size: 20px;
}

.prev, .next {
    background-color: rgb(57, 110, 190, .8);
    cursor: pointer;
    position: absolute;
    /* top: 100%; */
    width: auto;
    padding: 16px;
    margin-top: 40px;
    color: #D1E8E2;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    outline: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 40px;
    border-radius: 0 5px 5px 0px;
  }
  
  .prev {
    left: 40px;
    border-radius: 5px 0 0 5px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color:rgb(44, 53, 49, .8);
  }



