.pallet {
  color: #2c3531;
  color: #396ebe;
  color: #d9b08c;
  color: #ffcb9a;
  color: #d1e8e2;
}

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.red {
  color: red;
}

.App {
}

.App__main {
}

.top__margin {
  /* margin-top: 30px; */
}

ul {
  list-style-type: none;
}
